ConnectionStrings__Database=Data Source=mymemo.db
Clerk__Domain=your-domain.clerk.accounts.dev
AzureBlob__ConnectionString=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1
AzureServiceBus__ConnectionString=
AzureOpenAI__Endpoint=
AzureOpenAI__ApiKey=
